## reference
- https://office54.net/python/module/python-database-tinydb
- https://python.hotexamples.com/examples/tinydb/TinyDB/get/python-tinydb-get-method-examples.html
      + tinydbをClass化
- https://github.com/msiemens/tinydb

In [1]:
from tinydb import TinyDB, Query

In [2]:
tdb = TinyDB('data/tiny.json')

In [3]:
tdb.truncate()

In [4]:
json1 = {
    "name": 'John',
    "age": 30,
    "city": "NY"
}
json1

{'name': 'John', 'age': 30, 'city': 'NY'}

In [5]:
json2 = {
    "name": 'Paul',
    "age": 28,
    "city": "London"
}
json2

{'name': 'Paul', 'age': 28, 'city': 'London'}

In [6]:
import json

json1_str = json.dumps(json1)
json1_str

'{"name": "John", "age": 30, "city": "NY"}'

- https://www.w3schools.com/python/python_json.asp

In [7]:
json3_str = '{"name": "George", "age": 27, "city": "Livepool"}'
json3 = json.loads(json3_str)
json3

{'name': 'George', 'age': 27, 'city': 'Livepool'}

In [8]:
tdb.insert(json1)
tdb.insert(json2)
tdb.insert(json3)

3

In [9]:
tdb.all()

[{'name': 'John', 'age': 30, 'city': 'NY'},
 {'name': 'Paul', 'age': 28, 'city': 'London'},
 {'name': 'George', 'age': 27, 'city': 'Livepool'}]

In [10]:
for itm in tdb:
    print(itm)

{'name': 'John', 'age': 30, 'city': 'NY'}
{'name': 'Paul', 'age': 28, 'city': 'London'}
{'name': 'George', 'age': 27, 'city': 'Livepool'}

In [11]:
json4 = {
    "name": 'Ringo',
    "age": 32,
    "city": "London"
}
json4

{'name': 'Ringo', 'age': 32, 'city': 'London'}

In [12]:
tdb.insert(json4)
print(tdb)

<TinyDB tables=['_default', 'users'], tables_count=2, default_table_documents_count=4, all_tables_documents_count=['_default=4', 'users=3']>

In [13]:
Q = Query()
tdb.search(Q.city == 'London')

[{'name': 'Paul', 'age': 28, 'city': 'London'},
 {'name': 'Ringo', 'age': 32, 'city': 'London'}]

In [14]:
json5 = {
    "name": 'Maria',
    "age": 22,
    "city": "London", 
    "deleted": True
}
json5

{'name': 'Maria', 'age': 22, 'city': 'London', 'deleted': True}

In [15]:
tdb.insert(json5)
tdb.search(Q.city == 'London')

[{'name': 'Paul', 'age': 28, 'city': 'London'},
 {'name': 'Ringo', 'age': 32, 'city': 'London'},
 {'name': 'Maria', 'age': 22, 'city': 'London', 'deleted': True}]

In [16]:
tdb.search((Q.city == 'London' ) & (Q.deleted == True))

[{'name': 'Maria', 'age': 22, 'city': 'London', 'deleted': True}]

In [17]:
tdb.search((Q.city == 'London' ) & (Q.deleted != True))

[]

In [18]:
user1 = {
    "firstName": "Rack",
    "lastName": "Jackon",
    "gender": "man",
    "age": 24,
    "address": {
        "streetAddress": "126",
        "city": "San Jone",
        "state": "CA",
        "postalCode": "394221"
    },
    "phoneNumbers": [
        { "type": "home", "number": "7383627627" }
    ]
}
user1

{'firstName': 'Rack',
 'lastName': 'Jackon',
 'gender': 'man',
 'age': 24,
 'address': {'streetAddress': '126',
  'city': 'San Jone',
  'state': 'CA',
  'postalCode': '394221'},
 'phoneNumbers': [{'type': 'home', 'number': '7383627627'}]}

In [19]:
user2 = {
    "firstName": "John",
    "lastName": "Lennon",
    "gender": "man",
    "age": 24,
    "address": {
        "streetAddress": "126",
        "city": "San Jone",
        "state": "CA",
        "postalCode": "394221"
    },
    "phoneNumbers": [
        { "type": "home", "number": "738362999" }
    ]
}
user2

{'firstName': 'John',
 'lastName': 'Lennon',
 'gender': 'man',
 'age': 24,
 'address': {'streetAddress': '126',
  'city': 'San Jone',
  'state': 'CA',
  'postalCode': '394221'},
 'phoneNumbers': [{'type': 'home', 'number': '738362999'}]}

In [20]:
user3 = {
    "firstName": "Yoko",
    "lastName": "Lennon",
    "gender": "woman",
    "age": 19,
    "address": {
        "streetAddress": "126",
        "city": "San Jone",
        "state": "CA",
        "postalCode": "394221"
    },
    "phoneNumbers": [
        { "type": "home", "number": "738362999" }
    ]
}
user3

{'firstName': 'Yoko',
 'lastName': 'Lennon',
 'gender': 'woman',
 'age': 19,
 'address': {'streetAddress': '126',
  'city': 'San Jone',
  'state': 'CA',
  'postalCode': '394221'},
 'phoneNumbers': [{'type': 'home', 'number': '738362999'}]}

In [21]:
user_tbl = tdb.table('users')
user_tbl.truncate()
user_tbl.insert(user1)
user_tbl.insert(user2)
user_tbl.insert(user3)
user_tbl.all()

[{'firstName': 'Rack',
  'lastName': 'Jackon',
  'gender': 'man',
  'age': 24,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '7383627627'}]},
 {'firstName': 'John',
  'lastName': 'Lennon',
  'gender': 'man',
  'age': 24,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '738362999'}]},
 {'firstName': 'Yoko',
  'lastName': 'Lennon',
  'gender': 'woman',
  'age': 19,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '738362999'}]}]

In [22]:
user_tbl.search(Q.age >= 22)

[{'firstName': 'Rack',
  'lastName': 'Jackon',
  'gender': 'man',
  'age': 24,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '7383627627'}]},
 {'firstName': 'John',
  'lastName': 'Lennon',
  'gender': 'man',
  'age': 24,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '738362999'}]}]

In [23]:
user_tbl.search((Q.lastName == 'Lennon') & (Q.address.city == 'San Jone'))

[{'firstName': 'John',
  'lastName': 'Lennon',
  'gender': 'man',
  'age': 24,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '738362999'}]},
 {'firstName': 'Yoko',
  'lastName': 'Lennon',
  'gender': 'woman',
  'age': 19,
  'address': {'streetAddress': '126',
   'city': 'San Jone',
   'state': 'CA',
   'postalCode': '394221'},
  'phoneNumbers': [{'type': 'home', 'number': '738362999'}]}]